<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Baby Manager</title>
    <link type="text/css" rel="stylesheet" href="css/global.css">
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div th:replace="subPages/header :: header">&nbsp;</div>

<div class="container">
    <h1>Welcome to Baby Manager</h1>
    <p>Manage your baby's activities and records easily with our system.</p>

</div>


<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
