<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My baby</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${module == 'home' ? 'active' : ''}">
                    <a href="#" th:href="@{/}">Home</a>
                </li>
                <li th:classappend="${module == 'tasks' ? 'active' : ''}">
                    <a href="#" th:href="@{/task}">Growth</a>
                </li>
                <li th:classappend="${module == 'tasks-ld' ? 'active' : ''}">
                    <a href="#" th:href="@{/task-ld}">Development</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/signin" th:href="@{/signin}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                    </a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
<!--                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">-->
<!--                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout-->
<!--                    </a>-->
                    <button onclick="openModal('loginModal')" class="nav-btn">Login</button>
                    <button onclick="openModal('signupModal')" class="nav-btn">Sign Up</button>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>


<!-- Login Modal -->
<div id="loginModal" class="modal">
    <div class="modal-content">
        <span onclick="closeModal('loginModal')" class="close">&times;</span>
        <h2>Login</h2>
        <form>
            <table>
                <tr>
                    <td><label for="username">Username:</label></td>
                    <td><input type="text" id="username" name="username"></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="password" id="password" name="password"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <button type="submit" class="btn">Login</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<!-- Signup Modal -->
<div id="signupModal" class="modal">
    <div class="modal-content">
        <span onclick="closeModal('signupModal')" class="close">&times;</span>
        <h2>SignUp</h2>
        <form>
            <table>
                <tr>
                    <td><label for="fname">First name:</label></td>
                    <td><input type="text" id="fname" name="fname"></td>
                </tr>
                <tr>
                    <td><label for="sname">Surname:</label></td>
                    <td><input type="text" id="sname" name="sname"></td>
                </tr>
                <tr>
                    <td><label for="email">Email:</label></td>
                    <td><input type="email" id="email" name="email"></td>
                </tr>
                <tr>
                    <td><label for="password1">Password:</label></td>
                    <td><input type="password" id="password1" name="password1"></td>
                </tr>
                <tr>
                    <td><label for="password2">Confirm password:</label></td>
                    <td><input type="password" id="password2" name="password2"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="checkbox" id="terms" name="terms">
                        <label for="terms">I agree to the <a href="#">Terms and Conditions</a></label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <button type="submit" class="btn">Login</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script>
    // Function to open modal
    function openModal(modalId) {
        document.getElementById(modalId).style.display = "block";
    }

    // Function to close modal
    function closeModal(modalId) {
        document.getElementById(modalId).style.display = "none";
    }
</script>
</html>